<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.scorpio.product.mapper.SeckillMapper" >
  <resultMap id="BaseResultMap" type="com.scorpio.product.domain.SeckillPO" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="seckill_id" property="seckillId" jdbcType="INTEGER" />
    <result column="product_id" property="productId" jdbcType="INTEGER" />
    <result column="product_name" property="productName" jdbcType="VARCHAR" />
    <result column="inventory" property="inventory" jdbcType="INTEGER" />
    <result column="start_time" property="startTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="total_number" property="totalNumber" jdbcType="INTEGER" />
  </resultMap>
</mapper>